
	<h1>List of Contacts:</h1>
	<ul>
		<% @@rolodex.contacts.each do |contact| %>
			<li><%= contact.first_name + ' ' + contact.last_name %></li>
		<% end %>
  </ul>
  	<a href="/contacts/new">Add Another Contact</a>
  	<a href="/">Return to Main Menu</a>
