<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<h1> Create New Contact</h1>
	<form action= "/contacts" method="post">		
		<!-- action is bringing you to that page, method is what type of request it is -->
		<input type= "text" name= "first_name">
		<input type= "text" name= "last_name">
		<input type= "text" name= "email">
		<input type= "text" name= "note">
	</form>
</body>

</html>