html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
header h1{
	font-color: green;
	font-size: 30px;
}
body {
  margin: 0;
  font-family: helvetica;
  font-color: #4eb466;
}